.SignupScreen{
    /* max-width: 300px; */
    padding:70px;
    margin:auto;
    background:rgba(0,0,0,0.85);
  

}

.SignupScreen > form{
    display:flex;
    flex-direction:column;

}

.SignupScreen > form > h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
}

.SignupScreen > form > input{
    height:40px;
    outline-width:0;
    margin-top:14px;
    border-radius:5px;
    border:none;
    padding:3px 10px;
}

.SignupScreen > form > button{
    background: #e50914;
    border:none;
    border-radius:5px;
    color:white;
    font-size:1rem;
    font-weight:600;
    padding:16px 20px;
    margin-top:20px;
    cursor:pointer;
 

}

.signupScreen__gray{
    color:gray;
}

.SignupScreen > h4{
    
    margin-top:25px;
    margin-left:-40px;
   
}

.signupScreen__link:hover{
    cursor:pointer;
    text-decoration:underline;
}